h1 {

color: rgb(255, 0, 140);
text-align: center;
text-decoration-line: underline;
}</h1>


h2
{color: rgb(112, 71, 97);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, 
  font-size: medium;}

   <p>
   <font-style>: italic;
  h3 {font-size: medium
    ;}/h3
